* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial', 'sans-serif';
}

/*TEMPORARY BODY STYLES FOR DEVELOPMENT*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-clock {
    display: grid;
    min-width: 400px; min-height: 600px;
    grid-template-rows: 20% 60% 20%;

    justify-items: center;
    border-radius: 10px;
    background-color:  #FFF2F2;


    .clock-parameters {
        display: grid; gap: 10px;
        grid-template-columns: 20% 80%;
        justify-items: flex-start;
        align-items: center;
        padding: 0 40px;
        background-color: rgba(255, 76, 76, 0.5);
        border-radius: 10px 10px 0 0;

        .session-icon {
            background-color: rgba(255, 76, 76, 0.8);
            color: #fff; width: 80px; height: 80px;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .task-data {
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: flex-start;
            color:#471515;
            .task-title {
                font-size: 24px;
                font-weight: 600;
            }
            .task-status {
                justify-self: flex-end;
                padding-right: 40px;
                padding-top: 20px;
                font-size: 24px;
                font-weight: 600;
            }
            .task-duration {
                font-size: 18px;
                font-weight: 400;
            }
            .focus-duration {
                justify-self: flex-end;
                padding-right: 40px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    .clock-digits {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        flex-direction: column;
       
        span {
            font-weight: 800;
            font-family: 'Roboto Flex', sans-serif;
            font-size: 150px;
            color: #471515;
            max-height: 200px;
            line-height: 120px;
        }
    }
    .clock-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
        font-size: 38px;
        color: #471515;

        .left-button {
            justify-self: flex-end;
        }
        .right-button {
            justify-self: flex-start;
        }
        .left-button, .right-button {
            font-size: 30px;
            width: 70px; height: 70px;  
            background-color: rgba(255, 76, 76, 0.2);
            border-radius: 100%;
      
        }
        .center-button {
            font-size: 45px;
            width: 100px; height: 100px;
            border-radius: 100%;
            background-color: rgba(255, 76, 76, 0.5);
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    
    }
}

